<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Introduction</title>
</head>
<body>
    <h1>Представьтесь пожалуйста</h1>
<form th:action="@{/letter}" th:object="${user}" method="post">
    <p><label for="firstName">Имя:</label></p>
    <p><input type="text" id="firstName" th:field="*{firstName}" autofocus="autofocus" required></p>

    <p><label for="lastName">Фамилия:</label></p>
    <p><input type="text" id="lastName" th:field="*{lastName}" required></p>

    <p>Пол:</p>
    <p><input type="radio" name="sex" checked th:field="*{sex}" th:value="${T(com.thymeleaf.letter.thymeleafletter.entities.Sex).MALE}" required> Мужской</p>
    <p><input type="radio" name="sex" th:field="*{sex}" th:value="${T(com.thymeleaf.letter.thymeleafletter.entities.Sex).FEMALE}"> Женский</p>

    <p><input type="submit" value="Получить письмо"></p>

</form>
</body>
</html>